<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>계좌 리스트</title>
</head>
<body>
<h1>계좌 리스트 페이지</h1>
<h3> </h3>
<table border="1">
    <thead>
    <tr>
        <th>은행 명</th>
        <th>계좌 번호</th>
        <th>계좌 명</th>
        <th>잔액</th>
        <th>거래 생성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.bankName}"></td>
        <td>
            <a th:href="@{/accounts/list(userKey=${userKey}, accountNo=${account.accountNo})}" th:text="${account.accountNo}"> </a>
        </td>
        <td th:text="${account.accountName}"></td>
        <td th:text="${account.accountBalance}"></td>
        <td th:text="${account.accountCreatedDate}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
